force-app/main/default/flows/OppRecords.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Data_via_Apex</name>
        <label>Data via Apex</label>
        <locationX>797</locationX>
        <locationY>480</locationY>
        <actionName>ChatCompletion</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>loop_over_responses</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>messageTexts</name>
            <value>
                <elementReference>inputParameters</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ChatCompletion</nameSegment>
        <outputParameters>
            <assignToReference>oOutputFromChatGPT</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_the_first_element</name>
        <label>Assign the first element</label>
        <locationX>336</locationX>
        <locationY>482</locationY>
        <assignmentItems>
            <assignToReference>responseText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_over_responses</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_over_responses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_values_to_list</name>
        <label>assign values to list</label>
        <locationX>452</locationX>
        <locationY>325</locationY>
        <assignmentItems>
            <assignToReference>inputParameters</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inputParameters</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GettingOppData.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inputParameters</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GettingOppData.Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inputParameters</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GettingOppData.StageName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Data_via_Apex</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>Amount</name>
        <dataType>String</dataType>
        <expression>TEXT({!GettingOppData.Amount})</expression>
    </formulas>
    <formulas>
        <name>Date</name>
        <dataType>String</dataType>
        <expression>TEXT({!GettingOppData.CloseDate})</expression>
    </formulas>
    <formulas>
        <name>Summary</name>
        <dataType>String</dataType>
        <expression>TRIM(&quot;summaryFormat&quot;)</expression>
    </formulas>
    <interviewLabel>OppRecords {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Summary</label>
    <loops>
        <name>loop_over_responses</name>
        <label>loop over responses</label>
        <locationX>528</locationX>
        <locationY>498</locationY>
        <collectionReference>oOutputFromChatGPT</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_the_first_element</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>response</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GettingOppData</name>
        <label>GettingOppData</label>
        <locationX>459</locationX>
        <locationY>185</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_values_to_list</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>response</name>
        <label>response</label>
        <locationX>753</locationX>
        <locationY>660</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>displayResponse</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Summary of this Opportunity for &lt;/span&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(41, 41, 193);&quot;&gt;{!GettingOppData.Name}&lt;/strong&gt;&lt;em&gt;: &lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;font-size: 14px; color: rgb(29, 23, 225);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;{!responseText}&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Do_you_also_want_to_send_an_Email</name>
            <fieldText>Do you also want to send an Email?</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Do_you_also_want_to_send_an_Email_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>sendEmail</name>
                    <extensionName>c:sendEmailCgpt</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>recordId</assignToReference>
                        <name>recordId</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>330</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GettingOppData</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Amounts</name>
        <apexClass>FlowMapClass</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CloseDate</name>
        <apexClass>FlowMapClass</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>inputParameters</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MapOfVal</name>
        <apexClass>FlowMapClass</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>oOutputFromChatGPT</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>responseText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>responseWrapper</name>
        <apexClass>ResponseWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
